@page "/Management"
@using Area52.Shared.ForManaement

<PageTitle>Management</PageTitle>

<LeftMenu Title="Management">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu lacinia metus, et tempor elit. Nulla non convallis nisl. Aenean id luctus leo. Integer vehicula mauris congue lacinia ultricies. Suspendisse laoreet sollicitudin varius. Phasellus tristique finibus malesuada. Sed venenatis mollis quam eu maximus. Phasellus orci magna, facilisis eget felis sit amet, congue scelerisque augue.</p>

    <p>Pellentesque ultricies nulla in interdum elementum. Duis ac diam a arcu accumsan fermentum sollicitudin quis libero. Maecenas eu condimentum quam. Pellentesque condimentum nibh eget arcu finibus, pellentesque porttitor risus gravida. </p>
</LeftMenu>


@code {

}