
<div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <EnabledFeature Name="@FeatureNames.TimeSeries">
                <li class="nav-item">
                    <NavLink class="nav-link h6" ActiveClass="fw-bold" href="Management/Tsa/List" Match="NavLinkMatch.Prefix"><span class="fa fa-line-chart fa-fw"></span> TimeSeries definitions</NavLink>
                </li>
            </EnabledFeature>

            @*TODO*@
            <li class="nav-item">
                <NavLink class="nav-link h6" ActiveClass="active" href="#" Match="NavLinkMatch.Prefix"><span class="fa fa-key fa-fw"></span> API Keys</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link h6" ActiveClass="active" href="Management/PredefinedQueries" Match="NavLinkMatch.Prefix"><span class="fa fa-list-alt fa-fw"></span> Predefined queries</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link h6" ActiveClass="active" href="#" Match="NavLinkMatch.Prefix"><span class="fa fa-pie-chart fa-fw"></span> State</NavLink>
            </li>
        </ul>

    </div>
    <div class="col-10">
        <h1>@this.Title</h1>
        @this.ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string? Title
    {
        get;
        set;
    }

    [Parameter]
    public RenderFragment? ChildContent
    {
        get;
        set;
    }
}