
<div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link h6" ActiveClass="fw-bold" href="Management/Tsa/List" Match="NavLinkMatch.Prefix"><span class="oi oi-graph"></span> TimeSeries definitions</NavLink>
            </li>

            @*TODO*@
            <li class="nav-item">
                <NavLink class="nav-link h6" ActiveClass="active" href="#" Match="NavLinkMatch.Prefix"><span class="oi oi-key"></span> API Keys</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link h6" ActiveClass="active" href="#" Match="NavLinkMatch.Prefix"><span class="oi oi-spreadsheet"></span> Predefined queries</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link h6" ActiveClass="active" href="#" Match="NavLinkMatch.Prefix"><span class="oi oi-pie-chart"></span> State</NavLink>
            </li>
        </ul>

    </div>
    <div class="col-10">
        <h1>@this.Title</h1>
        @this.ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string? Title
    {
        get;
        set;
    }

    [Parameter]
    public RenderFragment? ChildContent
    {
        get;
        set;
    }
}