@page "/About"

<PageTitle>About</PageTitle>

<div class="row">
    <div class="col">
        <h1>About Area 52</h1>

        <dl class="row">
            <dt class="col-sm-3">Version</dt>
            <dd class="col-sm-9">@(typeof(Program).Assembly.GetName().Version)</dd>

            <dt class="col-sm-3">Repository</dt>
            <dd class="col-sm-9"><a href="https://github.com/harrison314/Area52" target="_blank">https://github.com/harrison314/Area52</a></dd>


            <dt class="col-sm-3">License</dt>
            <dd class="col-sm-9">GNU</dd>

            <dt class="col-sm-3">Send feedback</dt>
            <dd class="col-sm-9"><a href="https://github.com/harrison314/Area52/issues/new" target="_blank">https://github.com/harrison314/Area52/issues/new</a></dd>
        </dl>
    </div>
</div>
