@page "/About"

<PageTitle>About</PageTitle>

<div class="row">
    <div class="col">
        <h1>About Area 52</h1>

        <p>
            Experimental structured log collector with logs visualization
            inspired by <a href="https://datalust.co/seq" target="_blank">Seq</a>
            and <a href="(https://www.elastic.co/what-is/elk-stack)" target="_blank">ELK Stack</a>.
        </p>

        <dl class="row">
            <dt class="col-sm-3">Version</dt>
            <dd class="col-sm-9">@(typeof(Program).Assembly.GetName().Version)</dd>

             <dt class="col-sm-3">Commit</dt>
            <dd class="col-sm-9">@(Area52.Infrastructure.App.InternalMetadata.GetAssemblyMetadata("GitCommit"))</dd>

            <dt class="col-sm-3">Repository</dt>
            <dd class="col-sm-9"><a href="https://github.com/harrison314/Area52" target="_blank">https://github.com/harrison314/Area52</a></dd>


            <dt class="col-sm-3">License</dt>
            <dd class="col-sm-9">GNU</dd>

            <dt class="col-sm-3">Send feedback</dt>
            <dd class="col-sm-9"><a href="https://github.com/harrison314/Area52/issues/new" target="_blank">https://github.com/harrison314/Area52/issues/new</a></dd>
        </dl>
    </div>
</div>
