@page "/"
@using Area52.Shared.ForIndex

<PageTitle>Area 52</PageTitle>

<h1>Area 52</h1>

<ErrorBoundary>
    <ChildContent>
        <Dashboard />
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger" role="alert">
            Error during show dashboard.
        </div>
    </ErrorContent>
</ErrorBoundary>