@page "/"

<PageTitle>Area 52</PageTitle>

<h1>Area 52</h1>
<p>
    Experimental structured log collector with logs visualization
    inspired by <a href="https://datalust.co/seq" target="_blank">Seq</a>
    and <a href="(https://www.elastic.co/what-is/elk-stack)" target="_blank">ELK Stack</a>.
</p>

