@page "/QueryLanguage"

<PageTitle>Query Language</PageTitle>

<div class="row">
    <div class="col">
        <h1>Query Language</h1>
        <p>A short description of the custom query language.</p>

        <p>Property expressions:</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Expression</th>
                    <th scope="col">Alternative</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>Property is &quot;value&quot;</code></td>
                    <td><code>Property == 'value'</code></td>
                    <td>Search by match property value (case insensitive).</td>
                </tr>
                <tr>
                    <td><code>Property is not &quot;value&quot;</code></td>
                    <td><code>Property != 'value'</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Property is cs &quot;value&quot;</code></td>
                    <td></td>
                    <td>Case sensitive match.</td>
                </tr>
                <tr>
                    <td><code>Property &lt; &quot;value&quot;</code></td>
                    <td><code>Property &lt; 12.52</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Property &lt;= &quot;value&quot;</code></td>
                    <td><code>Property &lt;= 12.52</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Property &gt; &quot;value&quot;</code></td>
                    <td><code>Property &gt; 12.53</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Property &gt;= &quot;value&quot;</code></td>
                    <td><code>Property &gt;= 12.53</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Property exists any</code></td>
                    <td><code>Property is not null</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Property between value1 and value2</code></td>
                    <td><code>Property &gt;= value1 and Property &lt;= value2</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>&quot;value&quot;</code></td>
                    <td><code>'value'</code></td>
                    <td>Fulltext search.</td>
                </tr>
                <tr>
                    <td><code>Property startsWith &quot;value&quot;</code></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Property endsWith &quot;value&quot;</code></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Property in { &quot;value&quot;, &quot;value2&quot;, &quot;value3&quot; }</code></td>
                    <td><code>Property is &quot;value&quot; or Property is &quot;value2&quot; or Property is &quot;value3&quot;</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>Timestamp &gt; datetime(&quot;2022-06-01&quot;)</code></td>
                    <td><code>Timestamp &gt; &quot;2022-06-01T00:00:00.0000000Z&quot;</code></td>
                    <td><code>datetime</code> format diferent date and datetime string to canonical format</td>
                </tr>
                <tr>
                    <td><code>logid(&quot;internal_log_id&quot;)</code></td>
                    <td></td>
                    <td>Find log using internal identifier.</td>
                </tr>
            </tbody>
        </table>

        <p>
            Special properties:
        </p>
        <ul>
            <li>Timestamp</li>
            <li>Message</li>
            <li>MessageTemplate</li>
            <li>Level</li>
            <li>LevelNumeric</li>
            <li>EventId</li>
            <li>Exception</li>
        </ul>

        <p>
            Property with numbers or whitespaces can write with <code>[]</code>
            eg. <code>[Propety with whitespace]</code>, <code>[0]</code>.
        </p>

        <p>
            Logic operators:
        </p>
        <ul>
            <li>and (&amp;&amp;)</li>
            <li>or (||)</li>
        </ul>

        <h2>Examples</h2>
        <p>
            <code>&quot;Area51.Services.&quot;</code>
        </p>
         <p>
            <code>&quot;Area51.Services.&quot; and Timestamp between '2022-06-01' and '2022-06-02'</code>
        </p>
        <p>
            <code>Application is 'Area51' and Timestamp between '2022-06-01' and '2022-06-02' and Level startsWith 'error'</code>
        </p>
        <p>
            <code>RequestId is '0HMJ3E0UJPORG:00000007'</code>
        </p>
        <p>
            <code>RequestId is '0HMJ3E0UJPORG:00000007' and (Exception is not null or Level is 'Error')</code>
        </p>
        <p>
            <code>Application is 'Area51' and Exception is not null</code>
        </p>
        <p>
            <code> Application is 'Area51' and SourceContext startsWith 'Area51.Services.'</code>
        </p>
    </div>
</div>