@page "/TimeSeries"
@using Area52.Shared.ForTimeSeries
@using Area52.Services.Contracts;
@using Area52.Services.Contracts.TimeSeries
@inject ITimeSerieDefinitionsService TimeSerieDefinitionsService

<PageTitle>Time Series</PageTitle>
<div class="row">
    <div class="col-2">
        @if (this.tsDefinitions == null)
        {
            <LoadingIndicator />
        }
        else
        {
            <ul class="nav flex-column">
                @foreach (TimeSerieDefinitionInfo def in this.tsDefinitions)
                {
                    <a href="/TimeSeries#@def.Id"
                        class="nav-link h6 @(def.Id == this.selecteTsId?"fw-bold":string.Empty)"
                        @key="def.Id"
                        @onclick="@(_=> this.selecteTsId = def.Id)"
                        @onclick:preventDefault="true"
                        @onclick:stopPropagation="true">
                        <span class="oi oi-graph"></span> @def.Name
                    </a>
                }
            </ul>
            @if (this.tsDefinitions.Count == 0)
            {
                <p class="text-muted">
                    Time series not found.
                    Create a new timesries using
                    <NavLink href="Management/Tsa/Create">management</NavLink>.
                </p>
            }
        }
    </div>
    <div class="col-10">
        <h1>Prehľad časových sérií</h1>
        @if (this.selecteTsId != null)
        {
            <TsGraph Id="@this.selecteTsId" AdditionalClass="mt-2" />
        }
    </div>
</div>

@code {
    private IReadOnlyList<TimeSerieDefinitionInfo>? tsDefinitions = null;
    private string? selecteTsId = null;

    protected override async Task OnInitializedAsync()
    {
        this.tsDefinitions = await this.TimeSerieDefinitionsService.FindDefinictions();
    }
}